<footer class="pt-2 pb-3 navbar sticky-bottom bg-footer">
    <div class="container">
        <div class="col-12 text-center">
            <label>
                <strong>Created by:</strong> 
                &nbsp;Erick Eduardo Bolaños Rubio | 
                <strong class="mr-2">Networks:</strong> 
                    <a class="mr-2" target="_blank" href="https://www.linkedin.com/in/erick-eduardo-bola%C3%B1os-rubio-571373a7/">
                        <i class="fab fa-linkedin text-white"></i>
                    </a>
                    <a href="https://github.com/ItitErickBolanos" target="_blank">
                        <i class="fab fa-github text-white"></i>
                    </a>
                </label>
        </div>
    </div>
</footer>
